@import url('reset.css');
@import url('fonts.css');

body {
  font-family:'Montserrat';
  padding: 25px;
  background: url('/images/unnamed.png') center/cover;
}

.containerOne {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  border: 4px solid black;
  position: relative;
  background: rgba(0, 0, 0, 0.292);
  color: aliceblue;
  font-size: 18px;
  position: relative;

  @media (max-width: 550px) {
    background: transparent;
    border: transparent;
  }
}

.containerOne__title {
  font-size: 35px;
}

.containerOne__subTitle, .containerTwo__subTitle, .containerThree__subTitle {
  color: yellow;
}

.containerOne__error {
  padding: 10px;
  background: red;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  display: none;
  transition: all .4s;
}

.containerOne__border, .containerTwo__border, .containerThree__border {
  border-bottom: 3px solid yellow;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  margin-top: -10px;
}
.containerOne__border {
  width: 200px;
}

.containerTwo, .containerThree {
  display: flex;
  border-radius: 12px;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 15px;
  padding: 5px 30px;
  color: green;
  display: none;
}

/* .containerThree {
  display: flex;
  border-radius: 12px;
  border: 4px solid black;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 15px;
  padding: 50px;
  color: green;
  display: none;
} */

